<!doctype html>
<html>
  <head>
    <base href="/" />
    <title>Wonderful Culture and Village Around Borobudur</title>
    <link rel="canonical" href="#" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51286809-14', 'auto');
    </script>
    <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/fc217058-e84c-4e07-8541-9de8b64d53a1.css"/>
    <link rel="stylesheet" href="./css/main.css?cache=1511322399">
    <link rel="shortcut icon" type="image/x-icon" href="./assets/favicons/favicon.ico" />
    <style>
      /* .menu.is-active {
        visibility: visible!important;
        background: rgba(0, 0, 0, 0.4);
      } */
      /* .m-hide-open {
        display: none!important;
      } */
    </style>
  </head>
  <!-- <body ng-class="{'is-mobile-chrome': isMobileChrome}"> -->
  <body ng-class="{'is-mobile-chrome': isMobileChrome}" style="background: url('../assets/background-1.jpg') center/cover no-repeat; height: 100vh;">
        <!-- <header class="ng-scope is-visible is-enabled" ng-class="{'is-visible': headerVisible, 'is-enabled': headerEnabled}" ng-controller="headerController"> -->
          <header
          ng-class="{'is-visible': headerVisible, 'is-enabled': headerEnabled}" ng-controller="headerController">
      <div class="header--left" ng-class="{'is-hidden': experienceActive}">
        <a class="logo" href="#" title="Brand" ng-click="goHome($event)">
        <img src="./assets/icons/logo.png" style="height: 53px !important" alt="knkm">
      </a>
      <a class="logo" href="#" title="Brand" ng-click="goHome($event)">
          <img src="./assets/icons/logo-kementrian.svg" alt="knkm">
        </a>
        <a class="logo" href="#" title="Brand" ng-click="goHome($event)">
          <img src="./assets/icons/logo-kbkm.png" alt="kbkm">
        </a>
        <div class="breadcrumbs"
            ng-controller="breadcrumbController"
            ng-class="{'is-visible': showBreadcrumbs}">
          <a class="fade"
              ng-click="visit(crumb.link)"
              ng-repeat="crumb in crumbs">//crumb.name//</a>
        </div>
      </div>
      <div class="header--right" ng-class="{'is-hidden': experienceActive}">
        <a class="menu-open"
            ng-click="toggleMenu()"
            ng-class="{'is-inactive': (menuButton !== 'open'), 'is-active': isAtHome, 'is-takeaction': takeActionActive}">
          <div></div>
        </a>
      </div>
      <a class="menu-home" ng-click="goHome($event)" ng-class="{'is-visible': experienceActive}">View the Full Site</a>
    </header>

    <div class="container">
      

      <div class="menu" ng-controller="menuController"
    ng-class="{'is-active': menuActive}">
    <div class="menu-main"
      ng-class="{'is-active': (active == 'main'), 'is-moving-between': movingBetween}">
    <div class="menuContainer m-hide-open">
      <a href="/map" ng-click="visit($event)" class="menuItem">
        <div class="menuItem-background">
          <div ng-if="isMobile" style="background-image: url('https://wallpaperaccess.com/full/2708552.jpg')"></div>
          <div ng-if="!isMobile" style="background-image: url('https://wallpaperaccess.com/full/2708552.jpg')""></div>
        </div>
        <div class="menuItem-content menuItem-content--base"
          >
          <div class="menuItem-meta">
            <span class="menuItem-number">0</span>
            <div class="menuItem-bar"></div>
          </div>
          <span class="menuItem-name">Peta Budaya</span>
        </div>

        <div class="menuItem-content menuItem-content--hover">
          <div class="menuItem-container">
            <div class="menuItem-meta">
              <span class="menuItem-number">0</span>
            <div class="menuItem-bar"></div>
            </div>
            <span class="menuItem-name">Peta Budaya</span>
            <p class="menuItem-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam fugit labore ullam</p>
            <div class="menuItem-link">Explore</div>
          </div>
        </div>
      </a>
      <a href="//'/' + item.id//" ng-click="visit($event)" class="menuItem" ng-repeat="item in main" >
        <div class="menuItem-background">
          <div ng-if="isMobile" ng-style="{'background-image': 'url(' + item.content.image + ')'}"></div>
          <div ng-if="!isMobile" ng-style="{'background-image': 'url(' + item.content.image + ')'}"></div>
        </div>
        <div class="menuItem-content menuItem-content--base"
          >
          <div class="menuItem-meta">
            <span class="menuItem-number">//item.content.number ? item.content.number : 'Loading...' //</span>
            <div class="menuItem-bar"></div>
          </div>
          <span class="menuItem-name">//item.content.name ? item.content.name : 'Loading...' //</span>
          <span class="menuItem-watched" ng-class="{'is-visible': item.watched}">Watched</span>
        </div>

        <div class="menuItem-content menuItem-content--hover">
          <div class="menuItem-container">
            <div class="menuItem-meta">
              <span class="menuItem-number">//item.content.number//</span>
            <div class="menuItem-bar"></div>
            </div>
            <span class="menuItem-name">//item.content.name//</span>
            <p class="menuItem-description">//item.content.description//</p>
            <div class="menuItem-link">//item.content.cta ? item.content.cta : 'Explore'//</div>
            <!-- <div class="menuItem-link" onclick="location.href('/gallery.html')" >//item.content.cta ? item.content.cta : 'Gallery'//</div> -->
          </div>
        </div>
      </a>
      <!-- <div class="controls-map">
        <a href="/map" class="controls-mapLink" ng-click="visit($event)">
          <div class="controls-mapIcon" ng-style="{'background-image': 'url(./assets/map/map-world.png)'}"></div>
        </a>
      </div> -->
      <div class="menu-overlay"></div>
      <div class="menuTitle">Borobudur<br /><span class="t-strikethrough">National Monument</span></div>
      <!-- <a href="/credits" class="menu-creditslink" ng-click="visit($event)">Credits</a> -->
    </div>
  </div>

  <div class="menu-full"
      ng-class="{'is-active': (active == 'full'), 'is-moving-between': movingBetween}"}">
    <div class="menu-arrow menu-arrow--left"
        ng-class="{'is-visible': showBack}">
      <div class="menu-arrow-bg"></div>
    </div>
    <div class="menu-arrow menu-arrow--right"
        ng-class="{'is-visible': showForward}">
      <div class="menu-arrow-bg"></div>
    </div>

    <div class="menuSections" ng-if="isMobile">
      <a href="#" ng-repeat="item in main"
          ng-class="{'menuSection--action' : $index == 2, 'is-active': section == $index}"
          ng-click="move($index)">//item.content.name//
      </a>
      <div class="menuSections-overlay" ng-class="{'is-active': scrolled}"></div>
    </div>
    <div class="menuSections" ng-if="!isMobile">
      <a href="#" ng-repeat="item in main"
          ng-class="{'menuSection--action' : $index == 2, 'is-active': section == $index}"
          ng-click="move($index)">//item.content.name//
      </a>
      <div class="menuSections-overlay" ng-class="{'is-active': scrolled}"></div>
    </div>

    <div class="menuContainer" ng-click="close()">
      <a class="menuItem"
          ng-if="(item.type == 'video')"
          href="//'/' + item.id//"
          ng-click="visit($event)"
          ng-repeat="item in full"
          ng-class="{'menuItem--firstTier' : item.level == 1}">
        <div class="menuItem-background">
          <div ng-if="isMobile" ng-style="{'background-image': 'url(' + item.content.image + ')'}"></div>
          <div ng-if="!isMobile" ng-style="{'background-image': 'url(' + item.content.image + ')'}"></div>
        </div>
        <div class="menuItem-content menuItem-content--base">
          <div class="menuItem-meta">
            <span class="menuItem-number">//item.content.number//</span>
            <span class="menuItem-type typeIcon--//type//" ng-repeat="type in item.content.icons"></span>
            <div class="menuItem-bar"></div>
          </div>
          <span class="menuItem-name">//item.content.name//</span>
          <span class="menuItem-watched" ng-class="{'is-visible': item.watched}">Watched</span>
        </div>

        <div class="menuItem-content menuItem-content--hover">
          <div class="menuItem-container">
            <div class="menuItem-meta">
              <span class="menuItem-number">//item.content.number//</span>
              <span class="menuItem-type typeIcon--//type//" ng-repeat="type in item.content.icons"></span>
              <div class="menuItem-bar"></div>
            </div>
            <span class="menuItem-name">//item.content.name//</span>
            <p class="menuItem-description">//item.content.description//</p>
            <div class="menuItem-link" href="//'/' + item.id//" ng-click="visit($event)">//item.content.cta ? item.content.cta : 'Explore'//</div>
          </div>
        </div>
      </a>

      <!-- Story -->
      <a class="menuItem"
          ng-if="(item.type == 'story')"
          href="//item.content.urlTarget//" target="_blank"
          ng-repeat="item in full"
          ng-class="{'menuItem--firstTier' : item.level == 1}">
        <div class="menuItem-background">
          <div ng-if="isMobile" ng-style="{'background-image': 'url(' + item.content.image + ')'}"></div>
          <div ng-if="!isMobile" ng-style="{'background-image': 'url(' + item.content.image + ')'}"></div>
        </div>
        <div class="menuItem-content menuItem-content--base">
          <div class="menuItem-meta">
            <span class="menuItem-number">//item.content.number//</span>
            <span class="menuItem-type typeIcon--//type//" ng-repeat="type in item.content.icons"></span>
            <div class="menuItem-bar"></div>
          </div>
          <span class="menuItem-name">//item.content.name//</span>
          <span class="menuItem-watched" ng-class="{'is-visible': item.watched}">Watched</span>
        </div>

        <div class="menuItem-content menuItem-content--hover">
          <div class="menuItem-container">
            <div class="menuItem-meta">
              <span class="menuItem-number">//item.content.number//</span>
              <span class="menuItem-type typeIcon--//type//" ng-repeat="type in item.content.icons"></span>
              <div class="menuItem-bar"></div>
            </div>
            <span class="menuItem-name">//item.content.name//</span>
            <p class="menuItem-description">//item.content.description//</p>
            <div class="menuItem-link" href="//'/' + item.id//" ng-click="visit($event)">//item.content.cta ? item.content.cta : 'Explore'//</div>
          </div>
        </div>
      </a>

      <!-- Story Map -->
      <a class="menuItem"
          ng-if="(item.type == 'story_map')"
          href="//item.content.urlTargetStoryMap//" target="_blank"
          ng-repeat="item in full"
          ng-class="{'menuItem--firstTier' : item.level == 1}">
        <div class="menuItem-background">
          <div ng-if="isMobile" ng-style="{'background-image': 'url(' + item.content.image + ')'}"></div>
          <div ng-if="!isMobile" ng-style="{'background-image': 'url(' + item.content.image + ')'}"></div>
        </div>
        <div class="menuItem-content menuItem-content--base">
          <div class="menuItem-meta">
            <span class="menuItem-number">//item.content.number//</span>
            <span class="menuItem-type typeIcon--//type//" ng-repeat="type in item.content.icons"></span>
            <div class="menuItem-bar"></div>
          </div>
          <span class="menuItem-name">//item.content.name//</span>
          <span class="menuItem-watched" ng-class="{'is-visible': item.watched}">Watched</span>
        </div>

        <div class="menuItem-content menuItem-content--hover">
          <div class="menuItem-container">
            <div class="menuItem-meta">
              <span class="menuItem-number">//item.content.number//</span>
              <span class="menuItem-type typeIcon--//type//" ng-repeat="type in item.content.icons"></span>
              <div class="menuItem-bar"></div>
            </div>
            <span class="menuItem-name">//item.content.name//</span>
            <p class="menuItem-description">//item.content.description//</p>
            <div class="menuItem-link" href="//'/' + item.id//" ng-click="visit($event)">//item.content.cta ? item.content.cta : 'Explore'//</div>
          </div>
        </div>
      </a>

      <!-- Virtual Tour -->
      <a class="menuItem"
          ng-if="(item.type == 'virtual_tour')"
          href="//item.content.urlTargetVirtualTour//" target="_blank"
          ng-repeat="item in full"
          ng-class="{'menuItem--firstTier' : item.level == 1}">
        <div class="menuItem-background">
          <div ng-if="isMobile" ng-style="{'background-image': 'url(' + item.content.image + ')'}"></div>
          <div ng-if="!isMobile" ng-style="{'background-image': 'url(' + item.content.image + ')'}"></div>
        </div>
        <div class="menuItem-content menuItem-content--base">
          <div class="menuItem-meta">
            <span class="menuItem-number">//item.content.number//</span>
            <span class="menuItem-type typeIcon--//type//" ng-repeat="type in item.content.icons"></span>
            <div class="menuItem-bar"></div>
          </div>
          <span class="menuItem-name">//item.content.name//</span>
          <span class="menuItem-watched" ng-class="{'is-visible': item.watched}">Watched</span>
        </div>

        <div class="menuItem-content menuItem-content--hover">
          <div class="menuItem-container">
            <div class="menuItem-meta">
              <span class="menuItem-number">//item.content.number//</span>
              <span class="menuItem-type typeIcon--//type//" ng-repeat="type in item.content.icons"></span>
              <div class="menuItem-bar"></div>
            </div>
            <span class="menuItem-name">//item.content.name//</span>
            <p class="menuItem-description">//item.content.description//</p>
            <div class="menuItem-link" href="//'/' + item.id//" ng-click="visit($event)">//item.content.cta ? item.content.cta : 'Explore'//</div>
          </div>
        </div>
      </a>

      <div class="menu-overlay"></div>
    </div>
  </div>
</div>


  <section class="map ng-scope" ng-controller="mapController"
    ng-class="{'is-active': showMap}">

  <div class="map-open is-active" ng-click="toggleInfo()" ng-class="{'is-active': !showInfo}"></div>

  <div class="map-content" ng-class="{'is-active': showMap, 'is-info-active': showInfo}">
    <div class="map-close" ng-click="toggleInfo()"></div>
    <h1>Borobudur National Monument</h1>

    <p>
      Borobudur, or Barabudur is a 9th-century Mahayana Buddhist temple in Magelang, Central Java, Indonesia. It is the world's largest Buddhist temple. The temple has nine stacked platforms, six square and three circular, topped by a central dome. It is decorated with 2,672 relief panels and 504 Buddha statues. The central dome is surrounded by 72 Buddha statues, each seated inside a perforated Stupa.
    </p>

    <div class="map-legend">
      <span class="legend-title">Explore the Map</span>
      <div class="legend-item">
        <span class="legend-icon typeIcon--village"></span>
        <span class="legend-label">Village</span>
      </div>
      <div class="legend-item">
        <span class="legend-icon typeIcon--culture"></span>
        <span class="legend-label">Culture</span>
      </div>
      <div class="legend-item">
        <span class="legend-icon typeIcon--product"></span>
        <span class="legend-label">Market</span>
      </div>
      <div class="legend-item">
        <span class="legend-icon typeIcon--travel"></span>
        <span class="legend-label">Travel</span>
      </div>
      <div class="legend-item">
        <span class="legend-icon typeIcon--video"></span>
        <span class="legend-label">Video</span>
      </div>
      <div class="legend-item">
        <span class="legend-icon typeIcon--vrvideo"></span>
        <span class="legend-label">360 Video</span>
      </div>
      <div class="legend-item">
        <span class="legend-icon typeIcon--streetview"></span>
        <span class="legend-label">Street View</span>
      </div>
    </div>
  </div>

  <div id="map-container"
    ng-class="{'is-active': showMap}"></div>

  <div class="custom-zoom">
    <div class="custom-zoom-in" ng-click="zoomIn()"></div>
    <div class="custom-zoom-out" ng-click="zoomOut()"></div>
  </div>

  <!-- VIDEO -->
  <a class="card card--map" id="//place.id//"
    ng-if="!place.content.videoVR && (place.type == 'video')"
    ng-repeat="place in places"
    href="//'/' + place.id//" ng-click="visit($event)"
    ng-class="{'is-active': ($parent.currentMarker.id == place.id)}"
    ng-style="{'background-image': 'url(' + place.content.image + ')',
              'left': $parent.currentCoords.x, 'top': $parent.currentCoords.y}">

    <div class="card-icon typeIcon--//place.content.icons[0]//"></div>
    <div class="card-content">
      <span class="card-label">//place.parent// //place.content.number//</span>
      <span class="card-title">//place.content.name//</span>
      <span ng-if="place.content.videoVR" class="card-cta">Explore 360 Video</span>
      <span ng-if="!place.content.videoVR && (place.type == 'video')" class="card-cta">Explore Video</span>
      <span ng-if="(place.type == 'streetview')" class="card-cta">Explore Street View</span>
      <span ng-if="(place.type == 'pano')" class="card-cta">Explore Panorama</span>
      <span ng-if="(place.type == 'story')" class="card-cta">Explore Story</span>
    </div>
    <div class="card-close" ng-click="hideCard($event)"></div>
  </a>

  <!-- STORY -->
  <a class="card card--map" id="//place.id//"
    ng-repeat="place in places"
    ng-if="(place.type == 'story')"
    href="//place.content.urlTarget//" target="_blank"
    ng-class="{'is-active': ($parent.currentMarker.id == place.id)}"
    ng-style="{'background-image': 'url(' + place.content.image + ')',
              'left': $parent.currentCoords.x, 'top': $parent.currentCoords.y}">

    <div class="card-icon typeIcon--//place.content.icons[0]//"></div>
    <div class="card-content">
      <span class="card-label">//place.parent// //place.content.number//</span>
      <span class="card-title">//place.content.name//</span>
      <span ng-if="place.content.videoVR" class="card-cta">Explore 360 Video</span>
      <span ng-if="!place.content.videoVR && (place.type == 'video')" class="card-cta">Explore Video</span>
      <span ng-if="(place.type == 'streetview')" class="card-cta">Explore Street View</span>
      <span ng-if="(place.type == 'pano')" class="card-cta">Explore Panorama</span>
      <span ng-if="(place.type == 'story')" class="card-cta">Explore Story</span>
    </div>
    <div class="card-close" ng-click="hideCard($event)"></div>
  </a>

  <!-- STORY MAP -->
  <a class="card card--map" id="//place.id//"
    ng-repeat="place in places"
    ng-if="(place.type == 'story_map')"
    href="//place.content.urlTargetStoryMap//" target="_blank"
    ng-class="{'is-active': ($parent.currentMarker.id == place.id)}"
    ng-style="{'background-image': 'url(' + place.content.image + ')',
              'left': $parent.currentCoords.x, 'top': $parent.currentCoords.y}">

    <div class="card-icon typeIcon--//place.content.icons[0]//"></div>
    <div class="card-content">
      <span class="card-label">//place.parent// //place.content.number//</span>
      <span class="card-title">//place.content.name//</span>
      <span ng-if="place.content.videoVR" class="card-cta">Explore 360 Video</span>
      <span ng-if="!place.content.videoVR && (place.type == 'video')" class="card-cta">Explore Video</span>
      <span ng-if="(place.type == 'streetview')" class="card-cta">Explore Street View</span>
      <span ng-if="(place.type == 'pano')" class="card-cta">Explore Panorama</span>
      <span ng-if="(place.type == 'story_map')" class="card-cta">Explore Story</span>
    </div>
    <div class="card-close" ng-click="hideCard($event)"></div>
  </a>

  <!-- Virtual Tour -->
  <a class="card card--map" id="//place.id//"
    ng-repeat="place in places"
    ng-if="(place.type == 'virtual_tour')"
    href="//place.content.urlTargetVirtualTour//" target="_blank"
    ng-class="{'is-active': ($parent.currentMarker.id == place.id)}"
    ng-style="{'background-image': 'url(' + place.content.image + ')',
              'left': $parent.currentCoords.x, 'top': $parent.currentCoords.y}">

    <div class="card-icon typeIcon--//place.content.icons[0]//"></div>
    <div class="card-content">
      <span class="card-label">//place.parent// //place.content.number//</span>
      <span class="card-title">//place.content.name//</span>
      <span ng-if="place.content.videoVR" class="card-cta">Explore 360 Video</span>
      <span ng-if="!place.content.videoVR && (place.type == 'video')" class="card-cta">Explore Video</span>
      <span ng-if="(place.type == 'streetview')" class="card-cta">Explore Street View</span>
      <span ng-if="(place.type == 'pano')" class="card-cta">Explore Panorama</span>
      <span ng-if="(place.type == 'virtual_tour')" class="card-cta">Virtual Tour</span>
    </div>
    <div class="card-close" ng-click="hideCard($event)"></div>
  </a>

  <div class="map-shadow" ng-class="{'is-active': currentMarker}"></div>

</section>


  <section class="intro"
    ng-controller="introController"
    ng-class="{'is-active': active, 'is-controls-visible': (controlActive && showControls || (currentState == 'paused'))}">
  <div class="intro-info" ng-class="{'is-active': (showLoading || showMeta), 'is-done': introEnded}">
    <div class="intro-loading" ng-class="{'is-active' : showLoading}">
      <div class="loading-bear"></div>
    </div>
    <div class="intro-meta" ng-class="{'is-active': (showMeta && !showDoomsday)}">
      <div class="meta-icons">
        <div class="meta-sound"></div>
        <div class="meta-vr"></div>
      </div>
      <div class="meta-buttons">
        <a class="meta-skip" ng-click="goTo($event, 'home')" ng-class="{'is-active': showMeta, 'is-visible': (showControls || (currentState == 'paused'))}">Skip</a>
      </div>
    </div>
  </div>

  <div class="intro-video intro-video--preview" style="pointer-events: auto !important; display: none!important;"
      ng-class="{'is-active': (showVideo && showPreview), 'is-done': introEnded}">
    <div id="intro-preview"></div>
  </div>

  <div class="intro-video"
      ng-class="{'is-active': (showVideo && !showPreview), 'is-blurred': blur, 'is-done': introEnded}"
      ng-click="playPause()">
    <div id="intro-video"></div>
  </div>

  <div class="intro-preview" ng-class="{'is-active': (showPreview && showMeta), 'is-done': introEnded}">
    <div class="title" ng-class="{'is-active': showPreviewTitle}">
      <div><span>Borobudur</span></div>
      <div class="t-smallcaps t-strikethrough">National Monument</div>
    </div>

    <div class="intro-play"
        ng-click="playPause()"
        ng-class="{'is-active': showPlayButton}">
      <div class="controls-playPauseToggle is-play-btn"></div>
      <div class="t-smallcaps">Play</div>
    </div>
  </div>

  <div class="intro-doomsday overlay has-background" ng-class="{'is-active': doomsday && showDoomsday}">
    <div class="overlay-container">
      <h1>The President Stole Bears Ears National Monument</h1>
      <p>In an illegal move, the president just reduced the size of Bears Ears and Grand Staircase-Escalante National Monuments. This is the largest elimination of protected land in American history.</p>
      <a class="doomsday-button" ng-click="goTo($event, 'take-action')">Defend the land you have left.</a>
    </div>

    <a class="doomsday-skip" ng-click="skipDoomsday()">Continue to the site</a>
  </div>

  <div class="intro-titles" ng-class="{'is-active': !showPreviewTitle, 'is-done': introEnded}">
    <div class="title title--by" ng-class="{'is-active': activeTitle == 0 || activeTitle == 1}">
      <img src="./assets/icons/logo-kbkm.png" width="500" alt="kbkm">Presents
    </div>
    <div class="title title--final" ng-class="{'is-active': activeTitle == 2}">Borobudur <span class="t-strikethrough">National Monument</span></div>
  </div>

  <div class="controls" style="display: none!important;"
      ng-class="{'is-active': controlActive, 'is-forced-open': (currentState == 'paused'), 'is-visible': showControls}">
    <div class="controls-playPauseToggle" ng-class="{'is-play-btn': (currentState !== 'playing')}" ng-click="playPause()"></div>

    <div class="controls-scrubber"
      be-mousedown="pauseScrubber($event)"
      be-mousemove="updateScrubber($event)"
      be-mouseup="seekTo(timeCurrent)">
      <div class="controls-scrubberTrack">
        <div class="controls-scrubberProgress" ng-style="{'width': scrubberWidth + '%'}"></div>
      </div>
    </div>

    <div class="controls-time">
      <span class="controls-timeCurrent" ng-bind="(timeCurrent | minutesFilter)"></span>
      <span class="controls-timeTotal" ng-bind="(timeTotal | minutesFilter)"></span>
    </div>

    <div class="controls-muteToggle" ng-class="{'is-unmute-btn': isMuted}" ng-click="toggleMute()"></div>
  </div>
</section>


  <div id="stage"></div>


    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="./js/vendor/videojs/video.min.js"></script>
    <script src="./js/vendor/threejs/three.min.js"></script>
    <script src="./js/vendor/videojs/videojs-panorama.v5.min.js"></script>
    <script src="./js/vendor/kmlmap/KmlMapParser.js"></script>
    <script src="./js/app.js"></script>
    <script>
        setTimeout(function() {
          console.log('skip')
            angular.element('.meta-skip').triggerHandler('click');
        }, 2200);
    </script>
  </body>
</html>
